.container{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.centered-element{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
 
    
}

#launch {
    color: #fff;
    margin-top: 15%;
    font-size: 150%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #f44336; /* Red */
    border-radius: 12px;
    border: 6px solid #f44336;

    -webkit-transition: 500ms; /* Hover off */
}


#launch:hover {
    transition: 500ms;
    cursor: pointer;
    background-color: transparent;
    color: #f44336;
    border: 6px solid #f44336;
}

